<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edibles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h3 th:if="${edible.id}"> Edit Edible </h3>
    <h3 th:unless="${edible.id}"> New Edible </h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/edibles/upsert}" th:object="${edible}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="portion" class="col-form-label">Portion</label>
                            <input type="number" th:field="*{portion}" id="portion" placeholder="Portion specified in grams" class="form-control" />
                        </div>

                        <div class="form-group col-md-8">
                            <input type="hidden" id="id" th:field="*{id}">
                            <p/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>