<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Preferences</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h3> Edit Preferences </h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/preferences/upsert}" th:object="${preferences}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="dailySodiumLimit" class="col-form-label">Daily Sodium Limit (mg)</label>
                            <input type="text" th:field="*{dailySodiumLimit}" id="dailySodiumLimit" placeholder="Daily Limit in mg" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="hidden" id="id" th:field="*{id}">
                            <p/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value=" Save ">
                        <input type="button" onclick="history.back()" class="btn btn-primary" value=" Back "></input>
                    </div>
            </div>
        </div>
    </div>
</div>