<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edibles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h3 th:if="${edible.id}" data-th-text="#{action.editEdible}" />
    <h3 th:unless="${edible.id}" data-th-text="#{action.newEdible}" />
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/edibles/upsert}" th:object="${edible}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label" data-th-text="#{edibles.name}" />
                            <input type="text" th:field="*{name}" id="name" class="form-control" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="brand" class="col-form-label" data-th-text="#{edibles.brand}" />
                            <input type="text" th:field="*{brand}" id="brand"  class="form-control" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="upc" class="col-form-label" data-th-text="#{edibles.upc}" />
                            <input type="text" th:field="*{upc}" id="upc" class="form-control" />
                        </div>

                        <div class="form-group col-md-8">
                            <label class="col-form-label"><b data-th-text="#{edibles.nutritionFacts}"></b></label>
                            <div class="form-group col-md-8">
                                <label for="portion" class="col-form-label" data-th-text="#{edibles.portion}" />
                                <input type="number" th:field="*{facts.portion}" id="portion"  class="form-control" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="facts.sodium" class="col-form-label" data-th-text="#{edibles.sodiumComposition}" />
                                <input type="number" th:field="*{facts.sodium}" id="facts.sodium" p class="form-control" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="facts.potassium" class="col-form-label" data-th-text="#{edibles.potassiumComposition}" />
                                <input type="number" th:field="*{facts.potassium}" id="facts.potassium" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="hidden" id="id" th:field="*{id}">
                            <p/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value-th-text="#{action.save}" />
                            <a href="/edibles" class="btn btn-primary" data-th-text="#{button.back}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>