<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edibles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<script>
    function findByName(field, criteria) {
        if(event.keyCode == 13) {
            location = "edibles/find/"+field+"/"+criteria;
        }
    }
</script>
<div th:switch="${edibles}">
    <h2 th:case="null">No edibles yet!</h2>
    <div th:case="*">
        <table width="100%">
            <tr>
                <td width="80%">
                    <h2 data-th-text="#{edibles.title}"></h2>
                </td>
                <td>
                    <a th:href="@{/edibles?language=en}" >English</a> | <a th:href="@{/edibles?language=es}" >Español</a>
                </td>
                <td>
                    <div th:if="${#httpServletRequest.remoteUser} == null">
                        <a href="/login" class="btn btn-primary" data-th-text="#{button.login}"/>
                        <a href="/register" class="btn btn-primary" data-th-text="#{button.register}"/>
                    </div>
                    <div th:if="${#httpServletRequest.remoteUser} != null">
                        <div th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
                        <form th:action="@{/logout}" method="post">
                            <input type="button" onclick="form.submit();" class="btn btn-primary" data-th-value="#{button.logout}" />
                        </form>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <div data-th-text="#{edibles.name}" />
                    <div th:if="1 != ${findMode}">
                        <input type="text" id="findByName" size="5" class="form-control" onkeydown="findByName('name', this.value)" />
                        <a class="btn" href="?sort=name&dir=asc">&#x25B2;</a>
                        <a class="btn" href="?sort=name&dir=desc">&#x25BC;</a>
                    </div>
                </th>
                <th>
                    <div data-th-text="#{edibles.brand}" />
                    <div th:if="1 != ${findMode}">
                        <input type="text" id="findByBrand" size="5" class="form-control" onkeydown="findByName('brand', this.value)" />
                        <a class="btn" href="?sort=brand&dir=asc">&#x25B2;</a>
                        <a class="btn" href="?sort=brand&dir=desc">&#x25BC;</a>
                    </div>
                </th>
                <th valign="top">
                    <div data-th-text="#{edibles.upc}" />
                    <div th:if="1 != ${findMode}">
                        <input type="text" id="findByUpc" size="5" class="form-control" onkeydown="findByName('upc', this.value)" />
                    </div>
                </th>
                <th valign="top">
                    <div data-th-text="#{edibles.sodium}" />
                </th>
                <th valign="top">
                    <div data-th-text="#{edibles.portions}" />
                </th>
                <th valign="top">
                    <div data-th-text="#{edibles.actions}" />
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="edible : ${edibles}">
                <td><a th:href="@{/edibles/view/{id}(id=${edible.id})}" th:text="${edible.name}"></a></td>
                <td th:text="${edible.brand}"></td>
                <td th:text="${edible.upc}"></td>
                <td th:text="${edible.saturationSodium}"></td>
                <td th:text="${edible.portionsToSodiumLimit}"></td>
                <td><a th:href="@{/edibles/edit/{id}(id=${edible.id})}" class="btn btn-primary" data-th-text="#{button.edit}" />
                <a th:href="@{/edibles/delete/{id}(id=${edible.id})}" class="btn btn-danger" onclick="return confirm('Are you sure?')" data-th-text="#{button.delete}" /></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:if="1 != ${findMode}" href="/edibles/edit" class="btn btn-primary" data-th-text="#{button.add}" /> <a th:if="1 == ${findMode}" href="/edibles" class="btn btn-primary" data-th-text="#{button.back}"/></p>
    <p><a th:if="1 != ${findMode}" href="/preferences" class="btn btn-primary" data-th-text="#{button.pref}" /></p>
</div>
</body>
</html>