<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edibles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div th:switch="${edibles}">
    <h2 th:case="null">No edibles yet!</h2>
    <div th:case="*">
        <h2>Edibles</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>UPC/EAN</th>
                <th>Sodium (%)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="edible : ${edibles}">
                <td th:text="${edible.name}"></td>
                <td th:text="${edible.brand}"></td>
                <td th:text="${edible.upc}"></td>
                <td th:text="${edible.saturationSodium}"></td>
                <td><a th:href="@{/edibles/edit/{id}(id=${edible.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/edibles/delete/{id}(id=${edible.id})}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/edibles/edit" class="btn btn-primary">Add a new edible</a></p>
</div>
</body>
</html>