<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edibles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<script>
    function findByName(field, criteria) {
        if(event.keyCode == 13) {
            location = "edibles/find/"+field+"/"+criteria;
        }
    }
</script>
<div th:switch="${edibles}">
    <h2 th:case="null">No edibles yet!</h2>
    <div th:case="*">
        <h2>Edibles</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name
                    <div th:if="1 != ${findMode}">
                        <input type="text" id="findByName" size="5" class="form-control" onkeydown="findByName('name', this.value)" />
                        <a class="btn" href="?sort=name&dir=asc">&#x25B2;</a>
                        <a class="btn" href="?sort=name&dir=desc">&#x25BC;</a>
                    </div>
                </th>
                <th>Brand
                    <div th:if="1 != ${findMode}">
                        <input type="text" id="findByBrand" size="5" class="form-control" onkeydown="findByName('brand', this.value)" />
                        <a class="btn" href="?sort=brand&dir=asc">&#x25B2;</a>
                        <a class="btn" href="?sort=brand&dir=desc">&#x25BC;</a>
                    </div>
                </th>
                <th valign="top">UPC/EAN
                    <div th:if="1 != ${findMode}">
                        <input type="text" id="findByUpc" size="5" class="form-control" onkeydown="findByName('upc', this.value)" />
                    </div>
                </th>
                <th valign="top">Sodium (%)
                </th>
                <th valign="top">Portions Limit
                </th>
                <th valign="top">Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="edible : ${edibles}">
                <td><a th:href="@{/edibles/view/{id}(id=${edible.id})}" th:text="${edible.name}"></a></td>
                <td th:text="${edible.brand}"></td>
                <td th:text="${edible.upc}"></td>
                <td th:text="${edible.saturationSodium}"></td>
                <td th:text="${edible.portionsToSodiumLimit}"></td>
                <td><a th:href="@{/edibles/edit/{id}(id=${edible.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/edibles/delete/{id}(id=${edible.id})}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:if="1 != ${findMode}" href="/edibles/edit" class="btn btn-primary">Add a new edible</a> <a th:if="1 == ${findMode}" href="/edibles" class="btn btn-primary">Back</a></p>
    <p><a th:if="1 != ${findMode}" href="/preferences" class="btn btn-primary">Preferences</a></p>
</div>
</body>
</html>